Flask>=2.0
Flask-PyMongo>=2.3.0
pymongo>=4.0
requests>=2.25
python-dateutil>=2.8.2
certifi>=2022.0
chardet>=4.0
Click>=8.0
dnspython>=2.2.1
idna>=3.3
isort>=5.10
itsdangerous>=2.0
Jinja2>=3.0
MarkupSafe>=2.0
pylint>=2.14
urllib3>=1.26
Werkzeug>=2.0
six>=1.16
wrapt>=1.14
