body {
    background-color: #e8f5e9;
    /* margin: 0px;
    height: auto; */
}

/*
html {
    font-family: verdana, sans-serif;
}
.material-icon {
    margin-left: 200px;
}
#search {
    text-align: center;
    font-size: 30px;
    margin-top: 120px;
    color: white;
}
.white {
    background-color: #bbaaa6 !important;
}

#custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
  }

h3 {
    font-family: verdana, sans-serif;
}

h5 {
    font-size: 18px;
    font-family: Verdana, sans-serif;
} 

nav ul a {
    font-size: 1.5em;
}

.input-field label {
    color: #e5e6e6 !important;
}

nav .input-field input {
    border: #d6eceb;
}

.responsive {
    width: 100%;
    height: auto;
  }

.edit_button {
      margin-bottom: 30px;
      margin-left: 100px;
      margin-top: 25px;
      border-radius: 20px;
      font-size: 13px;
    }

.del_button {
       margin-left: 90px;
       margin-bottom: 30px;
       margin-top: 25px;
       border-radius: 20px;
       font-size: 12px;
   }


.card .card-image img {
    width: 100%;
    height: 700px;
   }
.row .col.s6 {
       width: 45%;
   }
   */
   
   .btn {
       padding: 10px;
       color: white;    
       border-radius: 5px;
       line-height: 1.0;
       margin: 10px;
   }
   .jumbotron {
       margin-bottom: 0px;
   }
   nav ul a:hover{
       background-color: none;
       color: #2d2d2d;
       text-decoration: none;
   }
   a {
       color: white;
   }
   a:hover {
       color: #2d2d2d;
       text-decoration: none;
   }

   h4 {
       color: #44220b !important;
   }

   