{% extends 'base.html' %}

{% block content %}

<h3 class="center-align"><strong>Recipe Cookbook</strong></h3>
<ul class="collapsible" data-collapsible="accordion">

  {% for recipe in recipes %}

  <li>
    <div class="title" id="no_white_space"><i class="material-icons">view_week</i>
      <div class="row">
        <div class="col s6">
          <h4 class="recipe_category"><i><strong>{{ recipe.recipe_category }}</strong></i></h4>
          <h5 class="recipes"><a href="{{ url_for('view_individual_recipe', recipe_id=recipe._id) }}">{{ recipe.title }}</a></h5>
        </div>
        <div class="col s3">
          <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
            class="btn waves-effect waves-light edit_button red" type="submit" name="edit_recipe">Edit
            <i class="material-icons right">send</i></a>
        </div>
        <div class="col s3">
          <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
            class="btn waves-effect waves-light del_button blue" type="submit" name="action">Delete
            <i class="material-icons right">send</i></a>
        </div>
        
      </div>
    </div>
    <!-- <div class="collapsible-body">
      <h5 class="recipes">Category:</h5>
      {{ recipe.recipe_category }}
      <h5 class="recipes">Ingredients:</h5>
      {{ recipe.ingredients }}
      <h5 class="recipes">Method:</h5>
      {{ recipe.method }}
      <h5 class="recipes">Cooking time:</h5>
      {{ recipe.cooking_time }}
      <h5 class="recipes">Views:</h5>
      {{ recipe.views }}
      <h5 class="recipes">Nutrition:</h5>
      {{ recipe.nutrition }}
      <h5 class="recipes">Author:</h5>
      {{ recipe.author }}
    </div> -->
  </li>

  {% endfor %}

  

</ul>


{% endblock %}