{% extends 'base.html' %}
{% block dinner %}

<h3 class="center-align">Dinner Recipes</h3>


<ul class="collapsible" data-collapsible="accordion">
    {% for recipes in dinner %}
    <li>
      <div class="collapsible-header"><i class="material-icons">view_stream</i>
        <h4>{{ recipes.dinner_name }}</h4>
      </div>
      <div class="collapsible-body">
            <h5>Ingredients:</h5>
            {% for ingredient in recipes.dinner_ingredients %}
              <span>
                  {{ ingredient }} 
              </span><br />
            {% endfor %}
        <br>
        <br>
        <h5>Method:</h5>
        {% for method in recipes.dinner_method %}
        <span>
            {{ method }} 
        </span><br>
        {% endfor %}
      </div>
    </li>
{% endfor %}
    
</ul>
{% endblock %}