{% extends 'base.html' %} {% block content %}

<!-- Recipe edit form-->


    <h3 class="center-align">Edit Recipe</h3><br>
    <div class="row">
        <form action="{{url_for('insert_recipe', recipe_id=recipe._id)}}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">restaurant_menu</i>
                    <input id="title" name="title" type="text" class="validate" value="{{ recipe.title }}">
                    <label>Recipe Name:</label>
                </div>
            </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">shopping_basket</i>
                        <textarea type="textarea" name="ingredients" id="ingredients" type="text"
                            class="materialize-textarea">{{ recipe.ingredients }}</textarea>
                        <label>Ingredients:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">description</i>
                        <textarea type="textarea" name="method" id="method" type="text"
                            class="materialize-textarea">{{ recipe.method }}</textarea>
                        <label>Method:</label>
                    </div>
                </div>
                
                    <div class="input-field col s6">
                        <i class="material-icons prefix">poll</i>
                        <input name="nutrition" id="nutrition" type="text" class="validate" value="{{ recipe.nutrition }}">
                        <label>Nutrition:</label>
                    </div>
                
                
                    <div class="input-field col s6">
                        <i class="material-icons prefix">poll</i>
                        <input name="views" id="views" type="text" class="validate" {{ recipe.views }}>
                        <label>Views:</label>
                    </div>
               
                
                    <div class="input-field col s6">
                        <i class="material-icons prefix">poll</i>
                        <input name="cooking_time" id="cooking_time" type="text" class="validate" value="{{ recipe.cooking_time }}">
                        <label>Cooking time:</label>
                    </div>
                
                
                    <div class="input-field col s6">
                        <i class="material-icons prefix">poll</i>
                        <input name="author" id="author" type="text" class="validate" value="{{ recipe.author }}">
                        <label>Author:</label>
                    </div>
                
            </div>
            <div class="insert_img">
            <div class="row">
                    <input name="file" type="file" id="fileupload"><br>
                </div>
                    <button class="btn waves-effect waves-light sml_button" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>



<footer class="">
    <div class="container">
       <p class=""></p>
    </div>
 </footer>
{% endblock %}