{% extends 'base.html' %} 

{% block content %}
<!-- <style>

  body {background-image: 
    url(http://baibureau.com/images/service/cooks%20page.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
  }

</style> -->
  <div class="row">
    <h1 class="display-1">Login</h1>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <form action="{{ url_for('login') }}" method="POST">
      <div class="row" label for="icon_prefix">
        <div class="input-field">
          <strong> Username: </strong>
          <input id="username" name="username" type="text">
          <button class="btn waves-effect waves-light float-right" type="submit">
            <input id="submit" type="submit" value="enter">
          </button>
        </div>
      </div>
    </form>
  </div>


{% endblock %}
