{% extends 'base.html' %}
{% block lunch %}

<h3 class="center-align">Lunch Recipes</h3>


<ul class="collapsible" data-collapsible="accordion">
    {% for recipes in lunch %}
    <li>
      <div class="collapsible-header"><i class="material-icons">view_quilt</i>
        <h4>{{ recipes.lunch_name }}</h4>
      </div>
      <div class="collapsible-body">
            <h5>Ingredients:</h5>
            {% for ingredient in recipes.lunch_ingredients %}
            <span>
                {{ ingredient }} 
            </span><br />
          {% endfor %}
      <br>
      <br>
      <h5>Method:</h5>
      {% for method in recipes.lunch_method %}
      <span>
          {{ method }} 
      </span><br>
      {% endfor %}
      </div>
    </li>
{% endfor %}
    
</ul>
{% endblock %}