{% extends 'base.html' %} {% block content %}

<!-- View an Individual Recipe -->

<div class="container" style="line-height: 20px;">
    <div class="view-ind-recipe-image">
        <img src="{{ recipe.img_url }}" alt="card_image" id="img-responsive">
    </div>
    <h3 class="center-align">{{ recipe.title }}</h3><br>
    <div class="{{url_for('insert_recipe', recipe_id=recipe._id)}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <div class="form-content">
                    <h6>Category:</h6>
                    <span>{{ recipe.recipe_category }}</span>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <div class="form-content">
                <h6>Ingredients:</h6>
                <span class="white-space">{{ recipe.ingredients }}</span>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <div class="form-content">
                <h6>Method:</h6>
                <span class="white-space">{{ recipe.method }}</span>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <div class="form-content">
                <h6>Nutrition:</h6>
                <span class="white-space">{{ recipe.nutrition }}</span>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <div class="form-content">
                <h6>Views:</h6>
                <span>{{ recipe.views }}</span>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <div class="form-content">
                <h6>Cooking Time:</h6>
                <span>{{ recipe.cooking_time }}</span>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <div class="form-content">
                <h6>By:</h6>
                <span>{{ recipe.author }}</span>
                <hr>
            </div>
        </div>
    </div>
    <br>
    <br>
    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
        class="btn waves-effect waves-light edit_button green lighten-2" type="submit" name="edit_recipe">Edit
        <i class="material-icons right">send</i></a>
    <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
        onclick="javascript:return confirm('Are you sure you want to delete this recipe?')"
        class="btn waves-effect waves-light modal-trigger del_button red lighten-3" type="submit" name="action">Delete<i
            class="material-icons right">send</i></a>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}